.Debug {}


.Deform {
    z-index: -1;
}

.Deform2 {
    z-index: -1;
}

// .boxcover {
//     background-color: white;
//     /* Green */
//     border: solid 1px rgb(195, 184, 184);
//     color: rgb(9, 9, 9);
//     padding: 10px 20px;
//     //text-align: center;
//     text-decoration: none;
//     display: inline-block;
//     font-size: 10px;
//     margin: 4px 2px;
//     top: 10;
//     width: 90px;
//     -webkit-transition-duration: 0.4s;
//     /* Safari */
//     transition-duration: 0.4s;
//     position: absolute;
//     left: 0;
//     z-index: 0;


// }

// .boxcover:hover {
//     box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
// }

// .inputs {
//     top: 0;
//     z-index: 20;
//     font-size: 16px;
//     width: 200px;
//     //opacity: 0;
// }

// .put {
//     z-index: 20;
//     //opacity: 0;


// }

.put {
    display: inline-block;
    width: 100px;
    height: 20px;
    line-height: 20px;
    position: relative;
    overflow: hidden;
    color: red;
}

.boxcover {
    display: none;
}

.put input {
    //position: absolute;
    left: 0px;
    top: 0px;
    zoom: 1;
    //filter: alpha(opacity=0);
    //opacity: 0;
    font-size: 20px;
    margin-left: -240px;
}